.main {
}
.subheader {
    width: 100%;
    background: #444444;
    height: 37px;
    padding-top: 16px;
}
.subheader_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    max-width: 1029px;
    margin: 0 auto;
}
.subheader_item{
    padding-right: 28px;
    padding-left: 28px;
    border-right: 1px dotted black; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}
.container {
}
.header {
}
.wrapper_img {
}
.header_logo {
}
.logo_text {
}
.wrapper_phone {
}
.text_call {
}
.phone_number {
}
.btn {
}
.header_btn {
}
.main_title {
}
.title {
}
.main_subtitle {
}
.subtitle {
}
.main_descr {
}
.descr {
}
.main_btn {
}